@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Nunito:wght@200&family=Raleway:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Nunito:wght@200&family=Raleway:wght@300;500&family=Roboto:wght@300&display=swap');
body{
    background-color:rgb(253, 236, 234);
    min-height: 150vh;
    background-image: url(https://images.freeimages.com/images/large-previews/8d9/beer-2-1325424.jpg);
}
.contenedor{
    width: 87%;
    margin: auto;
}
/* introduction */
.introduccion{
    float: left;
    width: 100%;
    margin: 1%;
    padding-left: 1%;
    box-shadow: 0px 0px 50px rgba(194, 186, 186, 0.74);
    border-radius: 15px;
    background-color:darkgray;
}
#evacolor{
    text-align: left;
    color: purple;
    font-size: 40px;
    margin-left: 10%;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
.maincharacters{
    text-align: center;
    color: black;
    font-size: 40px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}
#blackcolor{
    text-align: left;
    color: red;
    font-size: 40px;
    margin-left: 18%;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.imge{
    float: right;
    width: 43%;
    margin-top: 3%;
    margin-bottom: 1.5%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    border-radius: 18px;
}
.imgd{
    float: left;
    width: 50%;
    margin-left: 3.5%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 18px;
}
#welcome{
    text-align: center;
    box-shadow: 0px 0px 50px rgba(182, 176, 176, 0.74);
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
    background-color:darkgray;
    border-radius: 12px;
    padding-left: 1%;
    padding-right: 0;
    padding-top: 1%;
    padding-bottom: 1%;
}
.welcome{
    text-align: center;
    box-shadow: 0px 0px 50px rgba(182, 176, 176, 0.74);
    width: 30%;
    margin-left: 37%;
    margin-top: 2%;
    background-color:darkgray;
    border-radius: 12px;
    padding-left: 1%;
    padding-right: 0;
    padding-top: 1%;
}
#peva{
    width: 90%;
    text-align: justify;
    font-size: 22px;
    margin-top: 3%;
    font-family: 'Roboto', sans-serif;
}

/* character containers */
.bloque{
    float: right;
    width: 28%;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 3.5%;
    position: static;
    text-align: justify;
    box-shadow: 0px 0px 50px rgba(182, 176, 176, 0.74);
    border-radius: 15px;
    background-color: rgb(222, 235, 243);
}
.hover-rotate {
    overflow: hidden;
    margin: 8px;
    width: 100%;
  }
.hover-rotate img {
    transition: all 0.3s;
    box-sizing: border-box;
    margin-left: 15%;
    width: 55%;
    border-radius: 15px;
  }
.hover-rotate:hover img {
    transform: scale(1.2) rotate(4deg);
    border-radius: 15px;
    width: 55%;
  } 
.titulos{
    text-decoration: none;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: black;
}
a{
    color:black;
}
a:hover{
    color: purple;
    transition: all .3s;
}

/* images of containers */
.img{
    padding: 0.5%;
    width: 53%;
    margin-left: 21.5%;
    border-radius: 18px;
}
.img:hover{
    width: 62%;
    display: block;
    transition: all .4s;
    transition-delay: 0.2s;
}
/* paragraphs */
p{
    font-size: 22px;
}

/* top bar */
#logo{
    width: 50%;
    margin-left: 0;
}
li.profile-dropdown{
    color: black;
    font-family: 'Raleway', sans-serif;
}
ul.navbar-nav{
    color: black;
    font-size: 17px;
    border-radius: 12px;
    font-family: 'Raleway', sans-serif;
}
#navbarNavDropdown ul li ul.dropdown-menu li{
    font-family: 'Raleway', sans-serif;
}
#navbarNavDropdown ul li ul.dropdown-menu li:hover{
    font-family: 'Raleway', sans-serif;
    background-color: darkgray;
}
#navbarDropdownMenuLink{
    color: black;
}

.profile-dropdown .dropdown-menu{
    background-color: whitesmoke;
    border-radius: 19px;
    padding-bottom: 0;
    padding-top: 0;
    box-shadow: 0px 0px 20px rgba(182, 176, 176, 0.74);
}

.navbar{
    position: fixed;
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
    border-radius: 8px;
}
/* Animation subnav */
.animate{
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
@keyframes slideDown{

    0%{
        transform: scaleY(0);
        transform-origin: center top 0;
    }
    100%{
        transform: scaleY(1);
        transform-origin: center top 0;
    }
}
@-webkit-keyframes slideDown{

    0%{
        transform: scaleY(0);
        transform-origin: center top 0;
    }
    100%{
        transform: scaleY(1);
        transform-origin: center top 0;
    }
}
.slideDown{
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
}

/* Footer */
footer {
    clear: both;
    position: relative;
    float: left;
    width: 26%;
    max-width: 100%;
    height: 100%;
    background-color: rgb(197, 194, 194);
    border-radius: 10px;
    margin-left: 38%;
    margin-bottom: 2%;
    padding-right: 4%;
    text-align: center;
    margin-top: 8%;
    font-family: 'Roboto', sans-serif;
}
footer ul li{
    list-style: none;
    font-size: 20px;
}   
footer ul li a{
    text-decoration: none;
    margin-top: 1%;
    color: black;
}
.fas fa-handshake fa-2x{
    margin-top: 1%;
    margin-left: 1%;
    color: black;
}

/* Scroll */
body::-webkit-scrollbar{
    width: 7px;
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(94, 92, 92);
    border-radius: 5px;
}
html{
    scroll-behavior: smooth;
}
#scroll-progress {
    position: fixed;
    top: 0;
    width: 0%;
    height: 4px;
    background: orangered;
    z-index: 10000;
}

/* Contact */
.fas fa-comment-dots fa-3x{
    margin-top: 1%;
}